*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

:root{
    /* green family */
    --clr-green-1: hsl(120, 80%, 22%);
    --clr-green-2: hsl(120, 39%, 36%);
    --clr-green-3: rgb(25, 87, 25);
    --clr-green-4: rgba(182, 226, 208, 0.6);
    --clr-green-opa: rgba(93, 207, 93, 0.3);
    /* primary-color */
    --clr-white: #ffffff;
    --clr-black: #222;
    --clr-gray: rgb(180, 178, 178);
    /* property */
    --transition: all 0.5s linear;
    --radius: 5px;
    --max-width: 1300px;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --spacing: 0.10rem;
    --size: 1rem;
}

html{
    scroll-behavior: smooth;
}


.container{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    padding: 0 2em;
    transition: var(--transition);
    animation: spin 1.5s ease-in-out;
} 

@keyframes spin{
    0%{
        opacity: 0;
        transform: translateY(0rem);
    }

    100%{
        opacity: 1;
        transform: translate(2rem);
    }
}

/* ======= Web title=========== */
.web-title{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);
}

.web-title>*{
    margin: 0 0.3rem;
}

.logo-content img{
    max-width: 100%;
    max-height: 100%;
}

.logo-content{
    width: 50px;
}

.web-title h2{
    font-size: 1.rem;
    text-transform: capitalize;
    color: var(--clr-green-1);
    font-weight: lighter;
}

/* Flex-container */
.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.flex-container>*{
    margin: 2rem 0;
}

.content-1{
    align-self: center;
    min-height: 50vh;
    color: var(--clr-green-2);
}

 .content-1 header{
    text-align: center;  
   
}

header h3{
    padding-bottom: 1em;
    font-size: 22px;
    font-family: sans-serif;
}

header p{
    width: 450px;
    line-height: 1.8em;
    color:  var(--clr-black);
    padding-bottom: 1em;
} 

 header button{
    width: 150px;
    background: transparent;
    border: var(--clr-green-1) solid 1px;
    margin: 1em 1em 0 0;
    padding: 1em 0;
    border-radius: 3px;
    color: var(--clr-green-2);
    transition: var(--transition);
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer; 
}

header button:hover{
    background: var(--clr-green-2);
    color: white;
}

.sign-modal{
    min-height: 20vh;
}


  .header{
    color: var(--clr-black);
    margin-bottom: 2rem;
    width: 450px;
    line-height: 1.5;
} 
.header h2{
    font-family: sans-serif;
    color: var(--clr-green-2);;
}

.header p{
    font-size: 16px;
}


.join{
    display: flex;
    align-items: center;
}

.first input{
    border: none;
    border-bottom: solid 1px rgb(209, 203, 203);
    border-top: solid 1px rgb(209, 203, 203);
    border-left: solid 1px rgb(209, 203, 203);
}
.second input{
    border: solid 1px rgb(209, 203, 203);
}

input[type=text]{
    width: 200px;
    padding: .5em;
    margin: .3em 0;
    outline: none;
    font-size: 14px;
    border-radius: 2px;
}

.email{
    padding-top: 1em;
}
input[type=email], input[type=password]{
    width: 400px;
    padding: .5em;
    margin: .3em 0;
    outline: none;
    font-size: 14px;
    border-radius: 2px;
    border: solid 1px rgb(209, 203, 203);
}
.container1{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(41, 44, 75);
    font-weight: bold;
} 

.container1 a{
    color: var(--clr-green-2);
}

 form input[type=checkbox]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
} 
.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border:solid 1px #c5c2c2;
    border-radius: 4px;

}

.container:hover input ~ .checkmark {
    border: 1px solid #ccc;
  }
  .checkmark:after{
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark {
    background-color: var(--clr-green-2);;
    border-radius: 4px;
    border: none;
    transition: var(--transition);
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
    position: absolute;
    left: 6px;
    top: 2px;
  }
  .container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

   .onclick button{
    width: 400px;
    margin: 0 auto;
    padding: .7em 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid var(--clr-green-2);
    font-family: sans-serif;
    transition: var(--transition);
    color: var(--clr-black);
    font-weight: bold;
    cursor: pointer;
  }


  .onclick button:hover{
    color: var(--clr-white);
    background-color: var(--clr-green-2);
}

.onclick a{
    color: inherit;
    display: block;
    text-align: center;
    margin: 1rem -0rem;
}
.onclick p a:hover{
    color: gray;
} 
 section{
    width: 400px;
    padding: 1em 0;
     margin: 0 auto;
     width: 380px
} 

.media{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.media div{
    border: solid 1px rgb(209, 203, 203);
    text-align: center;
    padding: .2em 2.5em;
    margin: 0 2rem 0 0rem;
}

.media div:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.media img{
    width: 20px;
    padding-top: .5em;
}

.modal-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(180, 211, 180, 0.9);
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -100;
    transition: var(--transition); 
}

/*  OPEN/CLOSE MODAL */

.open-modal{
    visibility: visible;
    z-index: 100;
}

.modal-container{
    background: white;
    border-radius: 5px;
    width: 60vw;
    padding: 3rem 1rem;
    max-width: 1170px;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
    text-transform: capitalize;
    color: #222;
    
}

.close-btn{
    position: absolute;
    right: 0%;
    top: -5%;
    font-size: 1rem;
    background-color: transparent;
    border-color: transparent;
    color: rgb(143, 4, 4);
    cursor: pointer;
    transition: all 0.5s linear;
    font-size: 2rem;
    padding: .5rem;
    outline: none;
}

.modal-container p{
    letter-spacing: none;
    margin-top: 1rem;
    line-height: 1.5;
}

.modal-container a{
    border: 1px solid var(--clr-green-2);
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    transition: var(--transition);
    cursor: pointer;
    color: var(--clr-green-2)
}

.modal-container a:hover{
    background-color: var(--clr-green-2);
    color: white;
    border: none;
}


@media screen and (max-width: 900px){
    .container{
        background-color: white;
    }

    .flex-container{
        display: grid;
        place-items: center;
        padding: 0 1rem;
    }

    .content-1{
        display: none;
    }

    .sign-modal{
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 500px){
    .sign-modal{
        min-height: 100vh;
        margin-top: 2rem;
    }
    
      .header{
        color: var(--clr-black);
        margin-bottom: 3rem;
        text-align: center;
        width: auto;
        font-size: 1rem;
    } 

    .header p{
        font-size: 0.8rem;
        width: 280px;
        margin: 0 auto;
    }

    form{
        width: fit-content;
        width: 100%;
        padding: 0 rem;
    }

    .first input{
        border: none;
        border-bottom: solid 1px rgb(209, 203, 203);
        border-top: solid 1px rgb(209, 203, 203);
        border-left: solid 1px rgb(209, 203, 203);
    }
    .second input{
        border: solid 1px rgb(209, 203, 203);
    }
    
    input[type=text]{
        width: 170px;
       
    }
    
    input[type=email], input[type=password]{
        width: 340px;
    }

    .onclick{
        width: 100%;
        display: grid;
        place-items: center;
    }
  
    
       .onclick button{
        width: 340px;
      }

    .media{
        justify-content: space-around;
    }
    
    .media div{
        margin: 0;
    }

}